{% load static %}
{% load thumbnail %}
{% load cache %}
{% cache 20 aside_list all_posts comments groups users %}

<div class="list-group m-1">
    <div class="list-group-item list-group-item-secondary">
        Последние посты
    </div>
    {% for post in all_posts %}
        <a 
        href="{% url 'posts:post_detail' post.id %}"
        class="list-group-item list-group-item-action"
        data-toggle="tooltip"
        data-placement="top"
        title="Посмотреть запись">
        <strong>{{ post.title|truncatewords:5 }}</strong>
        </a>
    {% endfor %}
</div>
<div class="list-group m-1">
    <div class="list-group-item list-group-item-secondary">
        Последние комментарии
    </div>
    {% for comment in comments %}
        <a
        href="{% url 'posts:post_detail' comment.post.id %}"
        class="list-group-item list-group-item-action"
        data-toggle="tooltip"
        data-placement="top"
        title="Посмотреть комментарий">
        <strong>{{ comment.text|striptags|safe|truncatewords:15 }}</strong>
        </a>
    {% endfor %}
</div>
<div class="list-group m-1">
    <div class="list-group-item list-group-item-secondary">
        Группы
    </div>
{% for name in groups %}
    <a
    href="{% url 'posts:group_list' name.slug %}"
    class="list-group-item list-group-item-action"
    data-toggle="tooltip"
    data-placement="top"
    title="Посмотреть группу {{ name }}">
    <strong>{{ name }}</strong>
    <br>
    <small>{{ name.description }}</small>
    </a>
{% endfor %}
</div>
<div class="list-group m-1">
    <div class="list-group-item list-group-item-secondary">
        ТОП-5 авторов
    </div>
{% for user in users %}
    <a
    href="{% url 'posts:profile' user.0 %}"
    class="list-group-item list-group-item-action"
    data-toggle="tooltip"
    data-placement="top"
    title="Посмотреть профиль {% if user.0.get_full_name %}{{ user.0.get_full_name }}{% else %}{{ user.0 }}{% endif %}">
    <strong>
    {% if user.0.get_full_name %}{{ user.0.get_full_name }}{% else %}{{ user.0 }}{% endif %}
    <span class="badge rounded-pill bg-danger">
    {{ user.1 }}
    </span>
    </strong>
    {% if user.0.profile.get_online_info == "Онлайн" %}
        <br>
        <small style="color: green";>
            {{ user.0.profile.get_online_info }}
        </small>
    {% else %}
        <br>
        <small style="color: red">
            {{ user.0.profile.get_online_info }}
        </small>
    {% endif %}
    </a>

{% endfor %}
</div>
{% endcache %}

