{% extends 'base.html' %}
{% load static %}
{% block title %}Записи сообщества: {{ group.title }}{% endblock %}
{% block content %}
<div class="row shadow-lg p-2 mb-2 bg-white rounded">
  {% include 'posts/includes/switcher.html' %}
  <div class="card bg-light" style="width: 100%">
    <div class="card-body">
      <h1 class="card-title">{{ group.title }}</h1>
      <p class="card-text">{{ group.description|linebreaks }}</p>
    </div>
  </div>
  {% for post in page_obj %}
    {% include 'posts/includes/post_block.html' %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}