{% load static %}
{% load thumbnail %}

{% if request.user.is_authenticated == False %}
{% with request.resolver_match.view_name as view_name %}
    {% if view_name == 'index:profile' %}
            {% thumbnail author.profile.avatar "800x800" crop="center" upscale=True as small %}
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{{ small.url }}">
            {% empty %}
            <div class="col-md-12">
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
            </div>
            {% endthumbnail %}
    {% endif %}
{% endwith %}
{% endif %}


{% if request.user.is_authenticated %}
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'index:index' %}
            <div class="list-group">
            <a href="{% url 'posts:profile' user.username %}" class="list-group-item list-group-item-action list-group-item-light">
            Профиль <span class="badge rounded-pill bg-danger">{{ user.get_full_name }}</span>
            </a>
            <a href="{% url 'users:dialogs' %}" class="list-group-item list-group-item-action list-group-item-light">
            Сообщения <span class="badge rounded-pill bg-danger">Новое</span>
            </a>
            <a href="{% url 'posts:follow_index' %}" class="list-group-item list-group-item-action list-group-item-light">
            Подписки <span class="badge rounded-pill bg-danger">подписки и ссылки на профили</span>
            </a>
            <a href="{% url 'posts:index' %}" class="list-group-item list-group-item-action list-group-item-light">
            Группы <span class="badge rounded-pill bg-danger">сделать список всех групп</span>
            </a>
            </div>
        {% endif %}

        {% if view_name == 'index:profile' and request.user != author and author %}
        <div class="card p-2 mb-2 rounded">
            {% if following %}
                <a class="btn btn-lg btn-outline-danger btn-sm" href="{% url 'posts:profile_unfollow' author %}" role="button">Отписаться</a>
            {% else %}
                <a class="btn btn-lg btn-outline-success btn-sm" href="{% url 'posts:profile_follow' author %}" role="button">Подписаться</a>
            {% endif %}
        </div>
        {% endif %}

        {% if view_name == 'index:profile' and request.user == author %}
            {% thumbnail request.user.profile.avatar "800x800" crop="center" upscale=True as small %}
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{{ small.url }}">
            {% empty %}
            <div class="col-md-12">
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
            </div>
            {% endthumbnail %}
        {% endif %}

        {% if view_name == 'index:profile' and request.user != author %}
            {% thumbnail author.profile.avatar "800x800" crop="center" upscale=True as small %}
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{{ small.url }}">
            {% empty %}
            <div class="col-md-12">
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
            </div>
            {% endthumbnail %}
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if view_name == 'index:profile' and request.user != author and author %}
            <div class="card p-2 mb-2 rounded">
                {% if request.user.id != author.id %}
                <a class="btn btn-lg btn-outline-danger btn-sm" href="{% url 'users:create_dialog' author.id %}" role="button">Написать сообщение</a>
                {% else %}
                <a class="btn btn-lg btn-outline-danger btn-sm" href="{% url 'users:dialogs' %}" role="button">Сообщения</a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}

        {% if view_name == 'index:profile' and request.user == author %}
        <div class="p-2 mb-2 rounded">
            <select class="form-select" aria-label="Default select" onchange="location = this.value;">
                <option selected>Изменить профиль/пароль</option>
                <option value="{% url 'users:update_profile' %}">Изменить профиль</option>
                <option value="{% url 'users:password_change' %}">Изменить пароль</option>
            </select>
        </div>

        <div class="p-2 mb-2 rounded">
        <div class="accordion" id="accordionAside">
            <div class="card">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Активность
                </button>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionAside">
                    <div class="accordion-body">
                        Постов:<span class="badge rounded-pill bg-danger">{{ request.user.posts.count }}</span><hr>
                        Комментариев:<span class="badge rounded-pill bg-danger">{{ request.user.comments.count }}</span><hr>
                        Подписчики:<span class="badge rounded-pill bg-danger">{{ request.user.following.count }}</span><hr>
                        Подписан:<span class="badge rounded-pill bg-danger">{{ request.user.follower.count }}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                О себе
                </button>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionAside">
                    <div class="accordion-body">
                    Имя: <strong>{% if request.user.get_full_name %}{{ request.user.get_full_name }}<hr>{% else %}{{ request.user }}<hr>{% endif %}</strong>
                    {% if request.user.profile.location %}Проживание: <strong>{{ request.user.profile.location }}</strong><hr>{% endif %}
                    {% if request.user.profile.bio %}О себе: <strong>{{ request.user.profile.bio }}</strong><hr>{% endif %}
                    {% if request.user.profile.birth_date %}Дата рождения: <strong>{{ request.user.profile.birth_date }}</strong>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endif %}

        {% if view_name == 'index:profile' and request.user != author %}
        <div class="p-2 mb-2 rounded">
        <div class="accordion" id="accordionAside">
            <div class="card">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Активность
                </button>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionAside">
                    <div class="card-body">
                    Всего записей: <span class="badge rounded-pill bg-danger">{{ author.posts.count }}</span><hr>
                    Всего комментариев: <span class="badge rounded-pill bg-danger">{{ author.comments.count }}</span><hr>
                    Подписчики: <span class="badge rounded-pill bg-danger">{{ author.following.count }}</span><hr>
                    Подписан: <span class="badge rounded-pill bg-danger">{{ author.follower.count }}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                О себе
                </button>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAside">
                    <div class="card-body">
                    Имя: <strong>{% if author.get_full_name %}{{ author.get_full_name }}<hr>{% else %}{{ author }}<hr>{% endif %}</strong>
                    {% if author.profile.location %}Проживание: <strong>{{ author.profile.location }}</strong><hr>{% endif %}
                    {% if author.profile.bio %}О себе: <strong>{{ author.profile.bio }}</strong><hr>{% endif %}
                    {% if author.profile.birth_date %}Дата рождения: <strong>{{ author.profile.birth_date }}</strong>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endif %}
    {% endwith %}
{% endif %}