{% load static %}
{% load thumbnail %}

{% if request.user.is_authenticated %}

    <div class="list-group">
    <a href="{% url 'posts:profile' user.username %}" class="list-group-item list-group-item-action list-group-item-light">Мой профиль {{ user.get_full_name }}</a>
    <a href="{% url 'posts:index' %}" class="list-group-item list-group-item-action list-group-item-light">Новости</a>
    <a href="{% url 'users:dialogs' %}" class="list-group-item list-group-item-action list-group-item-light">Сообщения (счетчики)</a>
    <a href="{% url 'posts:follow_index' %}" class="list-group-item list-group-item-action list-group-item-light">Подписки (подписки и ссылки на профили)</a>
    <a href="{% url 'posts:index' %}" class="list-group-item list-group-item-action list-group-item-light">Группы (сделать список всех групп)</a>
    </div>
    
    <div class="alert alert-light shadow-lg p-2 mb-2 rounded" role="alert">
    {% with request.resolver_match.view_name as view_name %}
    {% if view_name == 'index:index' or view_name == 'index:follow_index' or view_name == 'index:create' or view_name == 'index:edit' %}
        {% thumbnail request.user.profile.avatar "800x800" crop="center" upscale=True as small %}
            <img class="img-fluid img-thumbnail mx-auto card-img" src="{{ small.url }}">
        {% empty %}
        <div class="col-md-12">
            <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
        </div>
        {% endthumbnail %}
    {% else %}
        {% thumbnail author.profile.avatar "800x800" crop="center" upscale=True as small %}
            <img class="img-fluid img-thumbnail mx-auto card-img" src="{{ small.url }}">
        {% empty %}
        <div class="col-md-12">
            <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
        </div>
        {% endthumbnail %}
    {% endif %}

    </div>
    {% if request.user != author and author %}
    <div class="card shadow-lg p-2 mb-2 rounded">
        {% if following %}
            <a class="btn btn-lg btn-outline-danger btn-sm" href="{% url 'posts:profile_unfollow' author %}" role="button">Отписаться</a>
        {% else %}
            <a class="btn btn-lg btn-outline-success btn-sm" href="{% url 'posts:profile_follow' author %}" role="button">Подписаться</a>
        {% endif %}
    </div>
    {% endif %}

    
    {% if request.user.is_authenticated %}
    {% if request.user.id == author.id or author.id %}
    <div class="card shadow-lg p-2 mb-2 rounded">
        {% if request.user.id != author.id %}
        <a class="btn btn-lg btn-outline-danger btn-sm" href="{% url 'users:create_dialog' author.id %}" role="button">Написать сообщение</a>
        {% else %}
        <a class="btn btn-lg btn-outline-danger btn-sm" href="{% url 'users:dialogs' %}" role="button">Сообщения</a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}

    {% if view_name == 'index:index' or view_name == 'index:follow_index' or view_name == 'index:create' or view_name == 'index:edit' %}
    <div class="alert alert-light shadow-lg p-2 mb-2 rounded" role="alert">
        <select class="form-select" aria-label="Default select" onchange="location = this.value;">
            <option selected>Изменить профиль/пароль</option>
            <option value="{% url 'users:update_profile' %}">Изменить профиль</option>
            <option value="{% url 'users:password_change' %}">Изменить пароль</option>
        </select>
    </div>
    {% endif %}
    {% if view_name == 'index:index' or view_name == 'index:follow_index' or view_name == 'index:create' or view_name == 'index:edit' %}
    <div class="alert alert-light shadow-lg p-2 mb-2 rounded" role="alert">
    <div class="accordion" id="accordionAside">
        <div class="card">
            <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Активность
            </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionAside">
                <div class="card-body">
                Всего записей: <strong>{{ request.user.posts.count }}</strong><hr>
                Всего комментариев: <strong>{{ request.user.comments.count }}</strong><hr>
                Подписчики: <strong>{{ request.user.following.count }}</strong><hr>
                Подписан: <strong>{{ request.user.follower.count }}</strong>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            О себе
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAside">
                <div class="card-body">
                Имя: <strong>{% if request.user.get_full_name %}{{ request.user.get_full_name }}<hr>{% else %}{{ request.user }}<hr>{% endif %}</strong>
                {% if request.user.profile.location %}Проживание: <strong>{{ request.user.profile.location }}</strong><hr>{% endif %}
                {% if request.user.profile.bio %}О себе: <strong>{{ request.user.profile.bio }}</strong><hr>{% endif %}
                {% if request.user.profile.birth_date %}Дата рождения: <strong>{{ request.user.profile.birth_date }}</strong>{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-light shadow-lg p-2 mb-2 rounded" role="alert">
    <div class="accordion" id="accordionAside">
        <div class="card">
            <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Активность
            </button>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionAside">
                <div class="card-body">
                Всего записей: <strong>{{ author.posts.count }}</strong><hr>
                Всего комментариев: <strong>{{ author.comments.count }}</strong><hr>
                Подписчики: <strong>{{ author.following.count }}</strong><hr>
                Подписан: <strong>{{ author.follower.count }}</strong>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            О себе
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAside">
                <div class="card-body">
                Имя: <strong>{% if author.get_full_name %}{{ author.get_full_name }}<hr>{% else %}{{ author }}<hr>{% endif %}</strong>
                {% if author.profile.location %}Проживание: <strong>{{ author.profile.location }}</strong><hr>{% endif %}
                {% if author.profile.bio %}О себе: <strong>{{ author.profile.bio }}</strong><hr>{% endif %}
                {% if author.profile.birth_date %}Дата рождения: <strong>{{ author.profile.birth_date }}</strong>{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    </div>
{% endif %}