{% extends "base.html" %}
{% block title %}{% if is_edit %}Редактировать запись{% else %}Добавить запись{% endif %}{% endblock %}

{% load static %}
{% load thumbnail %}

{% block content %}

<div class="row shadow-lg p-2 mb-2 bg-white rounded">
<aside class="col-12 col-md-3 shadow-lg p-2 mb-2 bg-white rounded">
{% include 'posts/includes/aside.html' %} 
{% include 'posts/includes/aside_list.html' %}
</aside>
<article class="col-12 col-md-9">
<div class="row shadow-lg p-2 mb-2 bg-white rounded">

<div class="row justify-content-center">
<div class="col">
  <div class="card">
    <div class="card-body">
        {% if is_edit %}Редактировать запись{% else %}Добавить новую запись{% endif %}
        {% load user_filters %}
        {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
        {% endif %}
        <form method="post" 
          {% if is_edit %} 
              action="{% url 'posts:edit' post.id %}" 
          {% else %}
              action="{% url 'posts:create' %}" 
          {% endif %}} enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {% for field in form %}
          <div class="form-group row my-3"
            {% if field.field.required %} 
              aria-required="true"
            {% else %}
              aria-required="false"
            {% endif %}
          >
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
                {% if field.field.required %}
                  <span class="required text-danger">*</span>
                {% endif %}
            </label>
            <div>
            {{ field|addclass:'form-control' }}
              {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                  {{ field.help_text|safe }}
                </small>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">{% if is_edit %}Сохранить{% else %}Добавить{% endif %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

</div>
</article>
</div>
{% endblock %}