{% extends 'base.html' %}
{% load static %}
{% block title %}Избранные авторы{% endblock %}
{% block content %}
<div class="row p-2 mb-2 bg-white rounded">
  <aside class="col-12 col-md-3 shadow-lg p-2 mb-2 bg-white rounded">
  {% include 'posts/includes/aside.html' %} 
  {% include 'posts/includes/aside_list.html' %}
  </aside>
  <article class="col-12 col-md-9">
    <div class="row p-2 mb-2 bg-white rounded">
      {% include 'posts/includes/switcher.html' with follow=True %}
      {% for post in page_obj %}
        {% include 'posts/includes/post_block.html' %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </article>
</div>
{% endblock %}