{% extends 'base.html' %}
{% load static %}
{% block title %}Записи сообщества: {{ group.title }}{% endblock %}
{% block content %}

<div class="row shadow-lg p-2 mb-2 bg-white rounded">
  {% include 'posts/includes/switcher.html' %}
  <div class="card bg-light" style="width: 100%">
    <div class="card-body">
      <h1 class="card-title">{{ group.title }}</h1>
      <p class="card-text">{{ group.description|linebreaks }}</p>
    </div>
  </div>
  {% for post in page_obj %}
  {% include 'posts/includes/ul_posts.html' %}
  {% include 'posts/includes/post_block.html' %}

  <div class="card-body shadow-lg p-2 mb-2 bg-white rounded">
    <a href="{% url 'posts:post_detail' post.id %}" class="btn btn-light"><button type="button" class="btn btn-outline-primary btn-sm">Подробная информация</button></a>
    <a href="{% url 'posts:post_detail' post.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Комментариев: <strong>{{ post.comments.count }}</strong></button></a>
    <img width="24" height="24" class="rounded img-fluid" src="{% static 'img/views_posts.png' %}" alt="нет фото"> <strong>{{post.total_views}}</strong> 
  </div>

  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}