{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
    Профиль пользователя
    {% if author.get_full_name %}
        {{ author.get_full_name }}
    {% else %}
        {{ author }}
    {% endif %}
{% endblock %}
{% block content %}
<div class="row p-2 mb-2 bg-light text-dark rounded">
    <aside class="col-12 col-md-3 p-2 mb-2 bg-light text-dark rounded">
    {% include 'posts/includes/aside.html' %} 
    {% include 'posts/includes/aside_list.html' %}
    </aside>
    <article class="col-12 col-md-9">
        <div class="card rounded p-2 mb-2 bg-light text-dark">
            <div class="card-body">
                <h1 class="card-title">
                    Автор: {{ author.get_full_name }}
                </h1>
                {% if author.profile.is_online %}
                <strong style="color: green";>Сейчас на сайте</strong>
                {% else %}
                <strong style="color: black";>Последнее посещение {{ author.last_login|date:'d E Y' }}</strong>
                {% endif %}
                <p class="card-text">
                | Всего записей: <strong>{{ author.posts.count }}</strong> | 
                Всего комментариев: <strong>{{ author.comments.count }}</strong> | 
                Подписчики: <strong>{{ author.following.count }}</strong> | 
                Подписан: <strong>{{ author.follower.count }}</strong> |
                </p>
            </div>
        </div>
    {% for post in page_obj %}
        {% include 'posts/includes/post_block.html' %}
        {% if not forloop.last %}{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
    </article>
</div>
{% endblock %}