{% extends 'base.html' %}
{% load tz %}

{% block content %}
<script>
html {scroll-behavior: smooth;}
</script>
<div class="row shadow-lg p-2 mb-2 bg-white rounded">
<aside class="col-12 col-md-3 shadow-lg p-2 mb-2 bg-white rounded">
{% include 'posts/includes/aside.html' %} 
{% include 'posts/includes/aside_list.html' %}
</aside>

<article class="col-12 col-md-9">
<a class="nav-link" href="#ancor">Последнее сообщение</a>
{% if not chat %}
    <div class="panel panel-body">
        Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.
    </div>
{% else %}
    <div class="nav nav-pills" style="height: 600px; overflow-y: auto;">
    {% if chat %}
        <div id="messages" class="panel">
            <div id="innerMessages">
                {% for message in chat.message_set.all %}
                    {% include 'users/message.html' with message_item=message %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
    <div id="ancor">Последнее {{ chat.message_set.all.count }}</div>
    {% load user_filters %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}            
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
    {% endfor %}
    {% endif %}
    <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>
        {% csrf_token %}
        {% for field in form %}<div class="form-group row my-3"
            {% if field.field.required %} 
            aria-required="true"
            {% else %}
            aria-required="false"
            {% endif %}
        >
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
                <span class="required text-danger">*</span>
            {% endif %}
        </label>
        <div>
            {{ field|addclass:'form-control' }}
            {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                {{ field.help_text|safe }}
                </small>
            {% endif %}
        </div>
        </div>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-primary">Отправить сообщение</button>
        </div>
    </form>
{% endif %}
</article>
</div>
{% endblock %}
